<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h1 class="main-title">Add New TODO</h1>
    <form th:action="@{/todos/save}" method="post">
        <div class="field">
            <label for="todo">Todo</label>
            <input type="text" name="todo_title" id="todo">
        </div>

        <div class="field">
            <label for="priority">Priority</label>
            <select name="priority" id="priority">
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
            </select>
        </div>

        <button class="btn btn-edit" type="submit">Submit</button>
    </form>
</div>
</body>
</html>