<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO App</title>
    <link th:href="@{/styles/css/style.css}" rel="stylesheet" />
</head>
<body>


    <div class="container">
        <h1 class="main-title">Todos</h1>
        <a class="btn btn-green" th:href="@{/todos/create}">Add New TODO</a>
        <div class="todos">
            <div th:each="todo:${todos}" class="todo">
                <div>
                    <h2 th:text="${todo.todo_title}"></h2>
                    <p th:text="${todo.priority}"><span>Priority: </span></p>
                </div>
                <div class="actions">
                    <a class="btn btn-edit" th:href="@{/todos/edit/{id} (id=${todo.id})}">Edit</a>
                    <a class="btn btn-delete" th:href="@{/todos/delete/{id} (id=${todo.id})}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>